# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3a7cb86cbc9a69bef1c8d1fceefe8199de93d364633a319da05e8ff805616f8dbc2d7112add9649fa35a9ce3446aedb5384fa5e7e51924ef080b459490a1bedc

test:
  secret_key_base: 0900fde4e61dff5a6af563fadddac70bfe865d03e64f78dadb6cab28078848e49a6a9d96a2a23e2d7ee21d39008e7caff97c7d0c2b770482a1c1b905f0cb1ad5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
