@import "bootstrap-sprockets";
@import "bootstrap";
@import "questions";
@import "answers";
@import "comments";

.not-active {
  pointer-events: none;
  cursor: default;
  color: black;
}

.liked {
  background: green;
}

.disliked {
  background: red;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.center-pills {
  display: flex;
  justify-content: center;
}

a.remove_fields, a.remove_fields:hover {
  color: white;
  text-decoration: none;
}